@import (reference) "config.less";
@import (reference) "general.less";

/* animaciones */
@keyframes logo{
	25%{
		transform: scale(.96);
	}
	50%{
		transform: scale(1);
	}
	75%{
		transform: scale(.96);
	}
}

#cabecero{
	@h: 100px;
	width: 100%;
	height: @h;
	background-color: fade(@color1, 80%);
	box-shadow: 0 0 10px rgba(0, 0, 0, .2);
	position: relative;
	z-index: 18;
	.container{
		height: @h;
		position: relative;
		background-image: url(../img/bg-cabecero.png);
		background-repeat: no-repeat;
		background-position: center;
		.logo{
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			transform-origin: 50% 0;
			width: 220px;
			&:hover{
				animation-name: logo;
				animation-duration: .4s;
				animation-iteration-count: 1;
			}
		}
		#alternador-menu{
			display: block;
			width: 55px;
			height: 38px;
			background-image: url(../img/alternador-menu.png);
			position: absolute;
			right: 15px;
			top: 30px;
			cursor: pointer;
			z-index: 20;
		}
		.menu{
			position: absolute;
			width: 280px;
			top: 0;
			right: 0;
			background-color: #42bef0;
			z-index: 19;
			box-shadow: 0 0 12px rgba(0, 0, 0, .2);
			display: none;
			ul{
				list-style: none;
				.no-pm;
				font-family: @f-f1;
				padding-top: 92px;
				font-size: 22px;
				font-weight: 500;
				padding-left: 10px;
				padding-right: 10px;
				li{
					&:first-child{
						a{
							border-top: none;
						}
					}
					&:last-child{
						a{
							border-bottom: none;
						}
					}
					a{
						display: block;
						padding-top: 24px;
						padding-bottom: 20px;
						border-top: 2px solid #2193d7;
						border-bottom: 2px solid @color2;
						color: @color2;
						&:hover{
							color: @blanco;
						}
					}
				}
			}
		}
		#alternador-menu-accesorios{
			@t: 34px;
			width: @t;
			height: @t;
			//background-color: rgba(255, 255, 255, 0.2);
			position: absolute;
			top: 32px;
			right: 80px;
			border-radius: 4px;
			z-index: 18;
			color: @blanco;
			text-shadow: rgba(0, 0, 0, 0.5);
			//line-height: @t;
			//text-align: center;
			cursor: pointer;
			//box-shadow: 0 0 40px rgba(0, 0, 0, .3);
			transition-property: left, transform;
			transition-duration: .2s;
			background-image: url(../img/bg-menu-accesorios-l.png);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			&:hover{
				transform: scale(.96);
			}
			/*.flecha{
				position: absolute;
				@t: 20px;
				width: @t;
				height: @t;
				text-align: center;
				line-height: @t;
				font-size: 12px;
				right: 0;
				bottom: 0;
				background-color: #000;
				color: @blanco;
				border-radius: (@t / 2);
				box-shadow: 0 0 10px @color3;
			}*/
		}

	}	
	.menu-accesorios{
		width: 105px;
		position: absolute;
		left: 0;
		top: 120px;
		background-color: lighten(@color1, 10%);
		z-index: 18;
		border-top: 3px solid #222;
		box-shadow: inset 0 0 40px rgba(0, 0, 0, .3), 0 0 40px rgba(0, 0, 0, .4);
		ul{
			list-style-type: none;
			.no-pm;
			font-family: @f-f1;
			font-weight: 600;
			padding-left: 6px;
			padding-right: 6px;
			li{
				&:first-child{
					a{
						border-top: none;
					}
				}
				&:last-child{
					a{
						border-bottom: none;
					}
				}
				a{
					position: relative;
					display: block;
					padding-top: 26px;
					padding-bottom: 26px;
					border-top: 2px solid @color1;
					border-bottom: 2px solid lighten(@color1, 20%);
					font-size: 20px;
					color: #bce7ff;
					text-shadow: 0 0 20px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5);
					&:hover, &.activo{
						color: @blanco;
					}
					&.activo{
						&::after{
							content: '';
							display: block;
							width: 74px;
							height: 37px;
							position: absolute;
							bottom: 0;
							left: 10px;
							background-image: url(../img/menu-accesorios-activo.png);
						}
					}
				}
			}
		}
	}
}

@media (min-width:768px){
	#cabecero{
		.container{
			.logo{
				width: 320px;
			}
		}
	}
}
//@media (min-width:992px){}
//@media (min-width:1200px){}