@import (reference) "config.less";
@import (reference) "general.less";

/* animación de botón de selección de vehículo */
@keyframes selecciona-vehiculo{
	25%{
		-webkit-filter: ~"saturate(30%)";
		filter: ~"saturate(30%)";
		transform: scale(.8);
	}
	50%{
		-webkit-filter: ~"saturate(0%)";
		filter: ~"saturate(0%)";
		transform: scale(1);
	}
	75%{
		-webkit-filter: ~"saturate(30%)";
		filter: ~"saturate(30%)";
		transform: scale(.9);
	}
}

/* slider */
#slider{
	#rotabanner{
		.carousel-inner{
			.item{
				background-position: center;
				background-repeat: no-repeat;
				height: 560px;
				&.sld-1{
					background-image: url(../img/sld-1.jpg);
				}
				&.sld-2{
					background-image: url(../img/sld-2.jpg);
				}
				&.sld-3{
					background-image: url(../img/sld-3.jpg);
				}
				.container{
					.row{
						.col-xs-12{
							height: 560px;
						}
					}
				}
			}
		}
	}
}



#promociones-galeria{
	background-color: #5a5c76;
	border-bottom: 3px solid lighten(@color1, 8%);
	box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.14);
	.container{
		> .row{
			.promociones{
				min-height: 297px;
			}
			.galeria{
				//background-color: @color1;
				//box-shadow: inset 0 0 80px rgba(0, 0, 0, 0.14);
			}
		}
	}
}

#te-puede-interesar{
	background-color: #77799b;
	.container{
		&.cont{
			text-align: center;
			.etiquetas{
				padding-left: 15px;
				padding-right: 15px;
				.txt{
					background-color: @color1;
					position: relative;
					overflow: hidden;
					text-align: left;
					background-image: url(../img/escuadra-enlace.png);
					background-repeat: no-repeat;
					&::after{
						@t: 40px;
						content: '';
						width: @t;
						height: @t;
						display: block;
						position: absolute;
						right: -(@t / 2);
						top: -(@t / 2);
						background-color: @color3;
						transform: rotate(45deg);
					}
				}
				.tanques{
					.bg{
						background-image: url(../img/img-tanques.jpg);
					}
				}
				.racks{
					.bg{
						background-image: url(../img/img-racks.jpg);
					}
				}
				.bicicleteros{
					.bg{
						background-image: url(../img/img-bicicleteros.jpg);
					}
				}
			}
		}
	}
}
@media (min-width:768px){
	#te-puede-interesar{
			.container{
				&.cont{
					.etiquetas{
						.txt{
							font-size: 18px;
							i{

								display: inline-block;
								padding-top: 40px;
							}
						}
						.cuadro{
							height: 120px;
						}
					}				
				}
			}
		}
	}
@media (min-width:992px){
	#te-puede-interesar{
		.container{
			&.cont{
				.etiquetas{
					.cuadro{
						height: 156px;
					}
				}				
			}
		}
	}
}
@media (min-width:1200px){
	#te-puede-interesar{
		.container{
			&.cont{
				.etiquetas{
					.cuadro{
						height: 190px;
					}
				}				
			}
		}
	}
}