@import (reference) "config.less";
@import (reference) "general.less";


#pie{
	background-color: #303e94;
	border-top: 3px solid @color1;
	padding-top: 10px;
	padding-bottom: 10px;
	vertical-align: middle;
}